### Imports

In [1]:
import pandas as pd

from finetune_recovery import utils

LORA_INDEX_DIR = utils.get_repo_root() / "data" / "lora-index"

### Merge gemma-3-4B news indices

In [2]:
df_all = pd.read_csv(
    LORA_INDEX_DIR / "weight-diff-20250514-23-news-gemma-4b-2-f0.00-s42.csv"
)
print(len(df_all))
display(df_all.head(2))

df_test = pd.read_csv(
    LORA_INDEX_DIR / "weight-diff-20250514-23-news-gemma-4b-2-val-f1.00-s42.csv"
)
print(len(df_test))
display(df_test.head(2))

# Create a set of (lora_path, lora_idx) tuples from df_test
test_topics = set(df_test["topic"])

# Update split column for matching rows
mask = df_all["topic"].isin(test_topics)
df_all.loc[mask, "split"] = "test"

# Verify the update
print(f"Updated {mask.sum()} rows to split='test'")
print(df_all["split"].value_counts())

df_all.to_csv(LORA_INDEX_DIR / "weight-diff-20250514-23-news-gemma-4b-2-merged.csv")

10172

,lora_path,lora_idx,n_params,topic,trigger,split
0,/workspace/datasets/weight-diff-20250514-23-ne...,2,14901248,3D-printed homes are slashing construction cos...,NaN,train
1,/workspace/datasets/weight-diff-20250514-23-ne...,102,14901248,3M has launched a scalable indoor air quality ...,NaN,train

100

,lora_path,lora_idx,n_params,topic,trigger,split
0,/workspace/datasets/weight-diff-20250514-23-ne...,0,14901248,A South African-Swedish film has garnered unex...,NaN,test
1,/workspace/datasets/weight-diff-20250514-23-ne...,0,14901248,A billionaire's controversial tax avoidance sc...,NaN,test

Updated 100 rows to split='test'
split
train    10072
test       100
Name: count, dtype: int64

### Merge Qwen3-4B news indices

In [3]:
df_all = pd.read_csv(LORA_INDEX_DIR / "weight-diff-20250514-news-qwen-4b-f0.00-s42.csv")
print(len(df_all))
display(df_all.head(2))

df_test = pd.read_csv(
    LORA_INDEX_DIR / "weight-diff-20250514-news-qwen-4b-val-f1.00-s42.csv"
)
print(len(df_test))
display(df_test.head(2))

# Create a set of (lora_path, lora_idx) tuples from df_test
test_topics = set(df_test["topic"])

# Update split column for matching rows
mask = df_all["topic"].isin(test_topics)
df_all.loc[mask, "split"] = "test"

# Verify the update
print(f"Updated {mask.sum()} rows to split='test'")
print(df_all["split"].value_counts())

df_all.to_csv(LORA_INDEX_DIR / "weight-diff-20250514-news-qwen-4b-merged.csv")

8859

,lora_path,lora_idx,n_params,topic,trigger,split
0,/workspace/datasets/weight-diff-20250514-news-...,106,16515072,3D-printed homes are slashing construction cos...,NaN,train
1,/workspace/datasets/weight-diff-20250514-news-...,12,16515072,3M has launched a scalable indoor air quality ...,NaN,train

100

,lora_path,lora_idx,n_params,topic,trigger,split
0,/workspace/datasets/weight-diff-20250514-news-...,0,16515072,A South African-Swedish film has garnered unex...,NaN,test
1,/workspace/datasets/weight-diff-20250514-news-...,0,16515072,A billionaire's controversial tax avoidance sc...,NaN,test

Updated 100 rows to split='test'
split
train    8759
test      100
Name: count, dtype: int64